* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

body {
  background-color: rgb(37, 6, 6);
}

#loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(230, 229, 229);
  z-index: 100;
}

.rocket-loader {
  animation: moveParticles 6s linear infinite;
  background: linear-gradient(
      90deg,
      gray,
      transparent 10%
    )
    0 20%/180% 0.2rem repeat-x, linear-gradient(
      90deg,
      gray,
      transparent 20%
    )
    0 80%/150% 0.2rem repeat-x, linear-gradient(
      90deg,
      gray,
      transparent 5%
    )
    0 65%/100% 0.2rem repeat-x, linear-gradient(
      90deg,
      gray,
      transparent 5%
    )
    0 40%/220% 0.2rem repeat-x, linear-gradient(0, white, white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.1);
  height: 125px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
}

.rocket-loader::before {
  animation: blink 1s infinite;
  bottom: 6%;
  content: "Loading...";
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
}

@keyframes moveParticles {
  100% {
    background-position-x: -500rem;
  }
}

.rocket{
  animation: moveRocket 2s linear infinite;
  background: lightgray;
  background: linear-gradient(#990000, red, #990000);
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%/30%;
  height: 15%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.rocket::before,
.rocket::after {
  content: "";
  position: absolute;
}

.rocket::before {
  animation: rotateFins 1s infinite;
  background: #cccccc;
  background: linear-gradient(#990000, red, #990000);
  border: 2px solid transparent;
  border-radius: 0 50% 50% 0;
  height: 140%;
  top: 50%;
  transform: translate(0, -50%);
  left: 6px;
  width: 20%;
}

.rocket::after {
  border: 7px solid transparent;
  border-left: 14px solid rgba(0, 0, 0, 0.4);
  border-radius: 15%;
  right: -16px;
  top: 2px;
}

.rocket-extras {
  animation: moveExtras 1s infinite;
  background: rgba(0, 0, 0, 0.4);
  height: 2px;
  left: 12px;
  margin: -2px 0 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 10px;
}

.rocket-extras::before,
.rocket-extras::after {
  content: "";
  position: absolute;
}

.rocket-extras::before {
  background: white;
  border-radius: 50%;
  height: 5px;
  right: -7px;
  top: -1px;
  width: 5px;
}

.rocket-extras::after {
  background: #990000;
  border-top: 1px solid #660000;
  height: 1px;
  left: -10px;
  top: 1px;
  width: 6px;
}

@keyframes moveRocket {
  0%,
  100% {
    transform: translate(-50%, calc(-50% - 1rem));
  }
  50% {
    transform: translate(-50%, calc(-50% + 1rem));
  }
}

@keyframes rotateFins {
  0%,
  100% {
    height: 140%;
  }
  50% {
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
    height: 110%;
  }
}

@keyframes moveExtras {
  0%,
  100% {
    transform: translate(0, calc(-50% + 0.1rem));
  }
  50% {
    transform: translate(0, calc(-50% - 0.1rem));
  }
}

.jet {
  height: 10px;
  left: -10px;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
}

.jet::before,
.jet::after,
.jet {
  animation: moveSmoke 0.3s infinite;
  background: #ff9900;
  border-radius: 50%;
  content: "";
  filter: blur(2px);
  height: 8px;
  left: -6px;
  opacity: 1;
  position: absolute;
  transform: translate(0, 0) scale(1);
  top: 1px;
  width: 15px;
}

.jet::after {
  animation-delay: 0.1s;
}

.jet {
  animation-delay: 0.2s;
}

@keyframes moveSmoke {
  100% {
    filter: blur(3px);
    opacity: 0;
    transform: translate(-40px, 0) scale(2);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; 
  }
  50% {
    opacity: 0.2;
  }
}

#logo, #login, #signup {
  position: relative;
  overflow: hidden;
  font-size: clamp(12px, 2vw, 20px);
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(227, 226, 226);}

#logo:hover, #login:hover, #signup:hover {
  box-shadow: 1px 1px 25px 10px rgba(239, 90, 90, 0.4) ;
}

#logo:before, #login:before, #signup:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%; 
  background: linear-gradient(
    120deg,
    transparent,
    rgba(236, 248, 12, 0.4),
    transparent
  ) ;
  transition: all 650ms;
}

#logo:hover:before, #login:hover:before, #signup:hover:before {
  left: 100% ;
}

h1,
h2,
h3, #imgTextHeading {
  font-family: "Libre Baskerville", serif;
}

@media (min-width: 1024px) {
  #mainInput{
    width: 550px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  #mainInput{
    width: 350px !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px){
  #mainInput{
    width: 270px !important;
  }
}

#mainInput{
  width: 170px;
}

.color{
background-color: rgb(206, 206, 201);
}

.hideElement {
  z-index: -100;
  display: none;
}

.newParaCSS {
  text-decoration: none;
  color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(82, 31, 30);
  margin-bottom: 0px;
  padding: 10px;  
  display: block;
  position: relative;
}

#resultDiv {
  z-index: 101;
}

#resultDiv a:nth-child(n):hover {
  background: linear-gradient(to right, rgb(228, 118, 126), rgb(229, 231, 111));
  /* background: linear-gradient(to right, rgb(212, 243, 135), rgb(86, 186, 219)); */
}

.headingCSS{
  color: rgb(181, 173, 173)
}

.loginContainer, .signupContainer {
  z-index: 101;
  display: inline-block;
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.loginFormCSS, .signupFormCSS {
  border: 1px solid rgb(215, 212, 212);
  padding: 10px 15px 30px 15px;
  z-index: 100;
  background-color: rgb(131, 36, 18);
  color: white;
  position: absolute;
  display: inline-block;
  border-radius: 15px;
}

.topTrendingImages {
  border-radius: 10px;
}

.imgText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding-left: 20px;
  top: 0px; 
  left: 0px;
  bottom: 0px;
  border-radius: 10px;
  width: 100%;
  background: linear-gradient(to right, rgba(19, 28, 57, 1), rgba(40, 50, 82, 0.98), rgba(25, 61, 101, 0.82), rgba(18, 76, 151, 0.36));
  }

  .imgTextOver{
    width: 40%;
    font-size: 17px;
    font-weight: 100;
  }

  @media (max-width: 1070px) {
    .imgTextOver {
      width: 80%;
      font-size: 12px;
    } 
  }

  #imgTextHeading{
    font-size: clamp(19px, 2vw, 32px);
  }

.trendingMovieImages {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottomRadius {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.trending_cards {
  text-decoration: none;
  cursor: pointer;
}

.trending_cards img {
  transition: cubic-bezier(0.59, -0.18, 0.38, 1.17)  0.3s;  
}

.trending_cards img:hover {
    transform:scale(1.08);
    border: 3px solid #006c80
}

#trendingMetric{
  font-size: clamp(12px, 4vw, 16px);
}

#footer{
font-size: clamp(12px, 3vw, 18px);
}

#socialMedia a i:hover{
  transition: all 0.22s ease-out;
  transform:scale(1.38);
}
